<div class="loading-view" *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="!isBusy">
  <h3 mat-dialog-title>{{ title }}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="error-container"
      *ngIf="form.errors?.['isDupe'] && (form.touched || form.dirty)"
    >
      Ya existe un material con estos datos
    </div>
    <div mat-dialog-content class="fields">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput required formControlName="nombreMaterial" />
        <mat-error
          *ngFor="let error of getErrors(form.get('nombreMaterial')!, 'Nombre')"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unidad de medida</mat-label>
        <input matInput required formControlName="unidadDeMedida" />
        <mat-error
          *ngFor="
            let error of getErrors(
              form.get('unidadDeMedida')!,
              'Unidad de medida'
            )
          "
        >
          {{ error }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input matInput required formControlName="descripcion" />
        <mat-error
          *ngFor="
            let error of getErrors(form.get('descripcion')!, 'Descripción')
          "
        >
          {{ error }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Marca</mat-label>
        <input matInput required formControlName="marca" />
        <mat-error *ngFor="let error of getErrors(form.get('marca')!, 'Marca')">
          {{ error }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>PVU</mat-label>
        <input matInput required formControlName="pvu" />
        <mat-error *ngFor="let error of getErrors(form.get('pvu')!, 'PVU')">
          {{ error }}
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button type="button" mat-flat-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>
      <button mat-flat-button color="primary" [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </div>
  </form>
</ng-container>
