.loading-view {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fields {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.error-container {
  background-color: rgb(219, 77, 77);
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
